<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Registro de Empleados</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <style>
    .col-lg-6 {
      background-color: rgb(164, 191, 189);
    }

    label {
      font-weight: bold;
    }
        .navbar-brand {
      padding-left: 20px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Nominas Spring</a>
    <!-- Navbar links-->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/empleados}">
            Empleados
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/empleados/crear}">
            Crear Empleado
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" th:href="@{/empleados/busca_nomina}">
            Bucar Nomina
          </a>
        </li>
  
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Editar empleado</h1>
        <div class="card-body">
          <!-- ${empleado} es el objeto que mandamos desde el controlador -->
          <form th:action="@{/empleados/editar/{dni}(dni=${empleado.dni})}" th:object="${empleado}" method="post"
            class="">
            <div class="form-group">
              <label>DNI : </label>
              <input type="text" name="dni" th:field="*{dni}" class="form-control" placeholder="Introduzca el Dni"
                required pattern="[0-9]{8}[A-Za-z]" title="Introduzca correctamente el dni">
            </div>
            <br>
            <div class="form-group">
              <label>Nombre : </label>
              <input type="text" name="nombre" th:field="*{nombre}" class="form-control"
                placeholder="Introduzca el Nombre" required pattern="[A-Za-z]+">
            </div>
            <br>
            <div class="form-group">
              <label>Sexo : </label>
              <select id="sexo" name="sexo" th:field="*{sexo}" class="form-control" required>
                <option th:value="M" th:text="Masculino"></option>
                <option th:value="F" th:text="Femenino"></option>
              </select>
            </div>

            <br>
            <div class="form-group">
              <label>Categoria : </label>
              <input type="text" name="categoria" th:field="*{categoria}" class="form-control"
                placeholder="Introduzca la Categoria" required pattern="^[1-9]|10$"
                title="Por favor, introduce un número del 1 al 10.">
            </div>
            <br>
            <div class="form-group">
              <label>Años : </label>
              <input type="text" name="anyos" th:field="*{anyos}" class="form-control" placeholder="Introduzca los Años"
                required pattern="^(0*[1-9]\d*(\.\d+)?|0*\.\d*[1-9]\d*)$"
                title="Por favor, introduce un número mayor que 0.">
            </div>
            <br>
            <div class="box-footer">
              <button class="btn btn-warning">Editar</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>

</body>

</html>